{{!-- <h1>{{appTitle}} 📖 </h1>
<p> Welcome Users </p>
<section> This is a Restaurant Networking App. This will connect homeless shelters with Restaurants. </section>
<a href="auth/logout">Logout</a> --}}

<div class="container mt-5">
  <div class="text-center">
    <h1>{{appTitle}} 📖 </h1>
    <p> Welcome User - {{currentUser.username}} </p>
    <section>
      This is a Restaurant Networking App. This will connect homeless shelters
      with Restaurants.
    </section>
    <a href="auth/logout">Logout</a>
  </div>
</div>